.responsive-image {
    text-align: center;
    padding: 30px;
}
th {
    font-family: monospace; 
    background-color: #acdef1; 
    font-size:22px;
}

.red {
    color: red;
}

.green {
    color: green;
}

td p {
    font-weight: 700;
}
body {
    background-color: #9bcde0;
}
.overlay-label {
    position: absolute;
    font-weight: 700;
    font-size: 22px;
    padding: 5px;

}

#north-top {
    top: 95px; 
    left: 385px;
}

#north-middle {
    top: 170px;
    left: 385px;
}

#south-buttom {
    top: 410px;
    left: 385px;
}

#south-middle {
    top: 330px;
    left: 385px;
}

#west-left {
    top: 235px;
    left: 192px;
}

#west-middle {
    top: 235px;
    left: 270px;
}

#east-right {
    top: 235px;
    left: 545px;
}

#east-middle {
    top: 235px;
    left: 450px;
}

#main_button {
  width: 175px;
  background-color: #ddd;
  font-size: 16px;
  text-align: center;
}

#cat1 {
    text-align: center;
}

#cat2 {
    text-align: center;
    padding-top: 14px;
}

#resultTable {
    text-align: center;
}

#resultTable123 {
    width: 100%;
}

#picture {
    background-color: #abcde0;"
    padding: "10px";
}

#input_data {
    background-color: #abcde0;
    border: 1;
}

#output_data {
    align: center; 
    background-color: #abcde0;
}

#message {
    display: none; 
    color: red;"
}

::placeholder {
  color: blue;
  font-size: 1.5em;
}